.top {
  width: 100%;
  height: 50px;
  background-color: rgb(250, 250, 250);
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.topLeft, .topRight{
    flex: 3;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
}

.topCenter{
    flex:6;
    background-color: yellowgreen;

}

.topImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topList{
    display: flex;
    justify-content: center;
    /* margin:0px;
    padding: 0px; */
    list-style: none;

}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.searchIcon{
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}